/*
  ========================================
  Variables
  ========================================
*/

// Base font size
$base-font-size:  15px;
$title-font-size: 40px;

// Colors
$primary-color:   #262626;
$secondary-color: #fff;
$third-color:     #f7f7f7;
$fourth-color:    #e6f1f3;

// Fonts
$primary-font:   'Montserrat', sans-serif;
$secondary-font: 'Cabin', sans-serif;

// Breakpoints for responsive
$phone-xs:  375px;
$phone:     480px;
$tablet:    768px;
$tablet-lg: 1024px;
$laptop:    1366px;
